<div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col">
    > my dropbox > SOFA Screenings Reel (2013 - 2014) Report
</div>
<div class=" mdl-color-text--grey-700 mdl-base">
    <div class="mdl-grid mdl-grid--no-spacing">
        <section class="mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card mdl-grid mdl-grid--no-spacing dropbox-item-file">
                <ul class="mdl-list mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                    <li>
                        <div class="mdl-list__item mdl-list__item--three-line mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                <span class="mdl-list__item-primary-content mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--4-col-phone" >
                                    <span class="mdl-grid mdl-grid--no-spacing">
                                        <span class="mdl-cell mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--hide-phone"><i class="mdl-color-text--grey-400 material-icons">insert_drive_file</i></span>
                                        <span class="mdl-cell mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone">
                                            <div class="mdl-list__item-text-title">SOFA Screenings Reel (2013 - 2014) Report.txt</div>
                                            <div class="mdl-list__item-text-body">
                                                <p class="mdl-grid mdl-grid--no-spacing">
                                                    <span class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">Last modified: </span><span>5/14/2014</span>
                                                </p>
                                                <p class="mdl-grid mdl-grid--no-spacing">
                                                    <span class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">Size: </span><span>25kb</span>
                                                </p>
                                            </div>
                                        </span>
                                    </span>
                                </span>
                            <span class="mdl-list__item-secondary-action mdl-cell--hide-phone mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-color-text--grey-700 action-buttons">
                                    <button class="icons mdl-button mdl-button--icon mdl-cell mdl-cell--1-col"><i class="material-icons mdl-color-text--blue-grey-400">file_download</i></button>
                                    <span>download</span>
                                    <button class="icons mdl-button mdl-button--icon mdl-cell mdl-cell--1-col"><i class="material-icons mdl-color-text--blue-grey-400">archive</i></button>
                                    <span>archive</span>
                                </span>
                        </div>
                        <div class="mdl-cell mdl-cell--hide-desktop mdl-cell--hide-tablet mdl-cell--4-col-phone action-buttons mdl-grid mdl-grid--no-spacing">
                            <div class="mdl-cell--2-col-phone">
                                <button class="icons mdl-button mdl-button--icon"><i class="material-icons mdl-color-text--blue-grey-400">file_download</i></button><span style="font-weight: 300">download</span>
                            </div>
                            <div class="mdl-cell--2-col-phone">
                                <button class="icons mdl-button mdl-button--icon"><i class="material-icons mdl-color-text--blue-grey-400">archive</i></button><span style="font-weight: 300">archive</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="mdl-list__item mdl-list__item--three-line mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                <span class="mdl-list__item-primary-content mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--4-col-phone" >
                                    <span class="mdl-grid mdl-grid--no-spacing">
                                        <span class="mdl-cell mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--hide-phone"><i class="mdl-color-text--grey-400 material-icons">insert_drive_file</i></span>
                                        <span class="mdl-cell mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone">
                                            <div class="mdl-list__item-text-title">SOFA Screenings Reel (2014 - 2015) Report.txt</div>
                                            <div class="mdl-list__item-text-body">
                                                <p class="mdl-grid mdl-grid--no-spacing">
                                                    <span class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">Last modified: </span><span>5/14/2015</span>
                                                </p>
                                                <p class="mdl-grid mdl-grid--no-spacing">
                                                    <span class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">Size: </span><span>23kb</span>
                                                </p>
                                            </div>
                                        </span>
                                    </span>
                                </span>
                            <span class="mdl-list__item-secondary-action mdl-cell--hide-phone mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-color-text--grey-700 action-buttons">
                                    <button class="icons mdl-button mdl-button--icon mdl-cell mdl-cell--1-col"><i class="material-icons mdl-color-text--blue-grey-400">file_download</i></button>
                                    <span>download</span>
                                    <button class="icons mdl-button mdl-button--icon mdl-cell mdl-cell--1-col"><i class="material-icons mdl-color-text--blue-grey-400">archive</i></button>
                                    <span>archive</span>
                                </span>
                        </div>
                        <div class="mdl-cell mdl-cell--hide-desktop mdl-cell--hide-tablet mdl-cell--4-col-phone action-buttons mdl-grid mdl-grid--no-spacing">
                            <div class="mdl-cell--2-col-phone">
                                <button class="icons mdl-button mdl-button--icon"><i class="material-icons mdl-color-text--blue-grey-400">file_download</i></button><span style="font-weight: 300">download</span>
                            </div>
                            <div class="mdl-cell--2-col-phone">
                                <button class="icons mdl-button mdl-button--icon"><i class="material-icons mdl-color-text--blue-grey-400">archive</i></button><span style="font-weight: 300">archive</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="mdl-list__item mdl-list__item--three-line mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                <span class="mdl-list__item-primary-content mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--4-col-phone" >
                                    <span class="mdl-grid mdl-grid--no-spacing">
                                        <span class="mdl-cell mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--hide-phone"><i class="mdl-color-text--grey-400 material-icons">insert_drive_file</i></span>
                                        <span class="mdl-cell mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone">
                                            <div class="mdl-list__item-text-title">SOFA Screenings Reel (2015 - 2016) Report.txt</div>
                                            <div class="mdl-list__item-text-body">
                                                <p class="mdl-grid mdl-grid--no-spacing">
                                                    <span class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">Last modified: </span><span>5/14/2016</span>
                                                </p>
                                                <p class="mdl-grid mdl-grid--no-spacing">
                                                    <span class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">Size: </span><span>24kb</span>
                                                </p>
                                            </div>
                                        </span>
                                    </span>
                                </span>
                            <span class="mdl-list__item-secondary-action mdl-cell--hide-phone mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-color-text--grey-700 action-buttons">
                                    <button class="icons mdl-button mdl-button--icon mdl-cell mdl-cell--1-col"><i class="material-icons mdl-color-text--blue-grey-400">file_download</i></button>
                                    <span>download</span>
                                    <button class="icons mdl-button mdl-button--icon mdl-cell mdl-cell--1-col"><i class="material-icons mdl-color-text--blue-grey-400">archive</i></button>
                                    <span>archive</span>
                                </span>
                        </div>
                        <div class="mdl-cell mdl-cell--hide-desktop mdl-cell--hide-tablet mdl-cell--4-col-phone action-buttons mdl-grid mdl-grid--no-spacing">
                            <div class="mdl-cell--2-col-phone">
                                <button class="icons mdl-button mdl-button--icon"><i class="material-icons mdl-color-text--blue-grey-400">file_download</i></button><span style="font-weight: 300">download</span>
                            </div>
                            <div class="mdl-cell--2-col-phone">
                                <button class="icons mdl-button mdl-button--icon"><i class="material-icons mdl-color-text--blue-grey-400">archive</i></button><span style="font-weight: 300">archive</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </section>
        <div>
            <!-- Colored FAB button with ripple -->
            <a href="uploadFile.html" target="_blank" id="add-file" class="fab mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white"><i class="material-icons">add</i></a>
        </div>
    </div>
</div>
