<div class="sofatube-event-background">
    <div class="text-background">
        <div class="mdl-grid mdl-grid--no-spacing">
            <div class="event-slogan mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">SOFA Screening 2016</div>
            <div class="event-description mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-color-text--grey-400" ng-controller="showDescriptionCtrl">SOFA Screening program <button class="mdl-button mdl-color-text--grey-300" ng-click="showDescription = !showDescription">read more</button>
                <div class="event-description-text mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone" ng-show="showDescription">All students in SOFA who produce film and animation shorts during each semester are expected to provide those works to the school's end-of-semester screenings forum held during Finals Week. At this venue, student work is critiqued by faculty and peers. This process serves as a critical element for the students, aiding in the development of artistic expression and teaching interaction with an audience. The screening is free and open to public. </div>
            </div>
            <div class="demo-separator mdl-cell mdl-cell--12-col"></div>
            <div class="demo-separator mdl-cell mdl-cell--12-col"></div>

            <div class="event-description mdl-color-text--grey-300">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <span class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-typography--text-uppercase">location:</span>
                    <span class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">Chester F. Carlson Center for Imaging Science
                            (Bulding 76)<br>
                            54 Lomb Memorial Dr (RIT)<br>
                            Rochester, NY 14623
                    </span>
                </div>
                <br>
                <div class="mdl-grid mdl-grid--no-spacing">
                    <span class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-typography--text-uppercase">time:</span>
                    <span>10 am - 9 pm <br>  May 14 - May 18, 2016 <br>

                        <a class="schedule-button mdl-button mdl-color-text--grey-300 mdl-typography--text-uppercase mdl-color-text--grey-300">full schedule</a>
                    </span>
                </div>
                <div class="demo-separator mdl-cell mdl-cell--12-col"></div>

            </div>
        </div>
    </div>
</div>