  <div class="mdl-layout__content">
        <div class="mdl-grid upload-project">
            <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--12dp login">
                <div class="mdl-card__supporting-text">
                    <form action="#">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Login</h2>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                            <input class="mdl-textfield__input" type="text" id="username">
                            <label class="mdl-textfield__label" for="username">Username</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                            <input class="mdl-textfield__input" type="text" id="password">
                            <label class="mdl-textfield__label" for="password">Password</label>
                        </div>
                    </form>
                </div>
                <div class="mdl-card__actions">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect cancel">
                        Cancel
                    </button>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored signin" ui-sref="main.myVideos">
                        Sign in
                    </button>
                </div>
            </div>
        </div>
    </div>