<div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col">
    > my screenings
</div>

<div class="mdl-demo">
    <div class="demo-cards">
    <section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <div class="mdl-card__supporting-text_title mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-grid mdl-grid--no-spacing">
                        <h4 class="mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--3-col-phone mdl-cell--top">In progress screenings</h4>
                        <div class="mdl-cell--1-col md-cell mdl-cell--top">
                            <a class="mdl-button mdl-button--icon"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">arrow_drop_down</i></a>
                        </div>
                    </div>
                </div>
                <ul class="mdl-cell mdl-cell--12-col">
                    <li>
                        <div class="section__text mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                            <h5>SOFA Screenings Reel (2013 - 2014)</h5>
                            <div class="section__text__detail">
                                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--8-col-phone">Screening ID:0003<br> 05-12-2014</div>
                            </div>
                            <h5 class="section-text__label">screening status: scheduled</h5>
                        </div>
                    </li>
                    <li>
                        <div class="section__text mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--8-col-phone">
                            <h5>SOFA Screenings Reel (2013 - 2014)</h5>
                            <div class="section__text__detail">
                                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--8-col-phone">Screening ID:0004<br> 05-12-2014</div>
                            </div>
                            <h5 class="section-text__label">screening status: unscheduled</h5>
                        </div>
                    </li>
                    <li>
                        <div class="section__text mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--8-col-phone">
                            <h5>SOFA Screenings Reel (2013 - 2014)</h5>
                            <div class="section__text__detail">
                                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--8-col-phone">Screening ID:0005<br> 05-12-2014</div>
                            </div>
                            <h5 class="section-text__label">screening status: pending</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <div class="mdl-card__supporting-text_title mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-grid mdl-grid--no-spacing">
                        <h4 class="mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--3-col-phone mdl-cell--top">Completed screenings</h4>
                        <div class="mdl-cell--1-col md-cell mdl-cell--top">
                            <a class="mdl-button mdl-button--icon"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">arrow_drop_down</i></a>
                        </div>
                    </div>
                </div>
                <ul class="mdl-cell mdl-cell--12-col">
                    <li>
                        <div class="section__text mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--8-col-phone" ui-sref="main.screeningReceipt">
                            <h5>SOFA Screenings Reel (2012 - 2013)</h5>
                            <div class="section__text__detail">
                                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--8-col-phone">Screening ID:0001<br> 05-12-2013</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="section__text mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--8-col-phone">
                            <h5>SOFA Screenings Reel</h5>
                            <div class="section__text__detail">
                                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--8-col-phone">Screening ID:0002<br> 05-12-2013</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    </div>
    <div>
        <!-- Colored FAB button with ripple -->
        <a href="signupScreening.html" target="_blank" id="signup-screening" class="fab mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white"><i class="material-icons">add</i></a>

    </div>
</div>
