<div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col">
    > notifications
</div>

<div class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <section class="mdl-grid mdl-grid--no-spacing notification">
        <ul class="mdl-list mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <li class="mdl-list__item mdl-list__item--three-line mdl-cell mdl-cell--12-col unread">
                    <div class="comment-detail mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                        <div class="mdl-list mdl-grid mdl-grid--no-spacing" ui-sref="singleVideo">
                            <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone video-cover-block mdl-cell--top  mdl-cell--hide-phone">
                                <img src="../images/videoCover.png" class="video-cover">
                            </div>
                            <div class="mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--top">
                                <div class="mdl-grid mdl-grid--no-spacing">
                                    <p class="video-cover-text mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-color-text--grey-600">You commented @Person's video: Video Title : In in culpa nulla elit esse. Ex cillum enim aliquip sit sit ullamco ex Ex cillum enim aliquip sit sit ullamco ex Ex cillum enim aliquip sit sit ullamco exEx cillum enim aliquip sit sit ullamco ex 23rtre</p>
                                    <br><p class="mdl-color-text--grey-500">3 min ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="mdl-list__item mdl-list__item--three-line mdl-cell mdl-cell--12-col">
                    <div class="comment-detail mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                        <div class="mdl-list mdl-grid mdl-grid--no-spacing">
                            <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone video-cover-block mdl-cell--top mdl-cell--hide-phone">
                                <img src="../images/videoCover.png" class="video-cover">
                            </div>
                            <div class="mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--top">
                                <div class="mdl-grid mdl-grid--no-spacing">
                                    <p class="video-cover-text mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-color-text--grey-600">You liked @Person's video: Video Title</p>
                                    <br><p class="mdl-color-text--grey-500">1 day ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="mdl-list__item mdl-list__item--three-line mdl-cell mdl-cell--12-col">
                    <div class="comment-detail mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                        <div class="mdl-list mdl-grid mdl-grid--no-spacing">
                            <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone video-cover-block mdl-cell--top  mdl-cell--hide-phone">
                                <img src="../images/videoCover.png" class="video-cover">
                            </div>
                            <div class="mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--top">
                                <div class="mdl-grid mdl-grid--no-spacing">
                                    <p class="video-cover-text mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-color-text--grey-600">You commented @Person's video: Video Title : In in culpa nulla elit esse. Ex cillum enim aliquip sit sit ullamco ex Ex cillum enim aliquip sit sit ullamco ex Ex cillum enim aliquip sit sit ullamco exEx cillum enim aliquip sit sit ullamco ex 23rtre</p>
                                    <br><p class="mdl-color-text--grey-500">5/14/2014</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="mdl-list__item mdl-list__item--three-line mdl-cell mdl-cell--12-col">
                    <div class="comment-detail mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                        <div class="mdl-list mdl-grid mdl-grid--no-spacing">
                            <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone video-cover-block mdl-cell--top mdl-cell--hide-phone">
                                <img src="../images/videoCover.png" class="video-cover">
                            </div>
                            <div class="mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--top">
                                <div class="mdl-grid mdl-grid--no-spacing">
                                    <p class="video-cover-text mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-color-text--grey-600">You liked @Person's video: Video Title</p>
                                    <br><p class="mdl-color-text--grey-500">5/14/2014</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </section>
</div>
