    <div class="mdl-typography--text-center sofatube-video-background">
     <!--<div class="mdl-typography&#45;&#45;text-center">-->

        <div class="sofatube-slogan mdl-typography--text-center">SOFATube</div>
        <div class="sofatube-sub-slogan mdl-color-text--grey-300">SOFATube is the project channel for students at School of Film and Animation of Rochester Institute of Technology.</div>
        <button class="sofatube-play-button mdl-button mdl-js-button"><i class="material-icons mdl-color-text--grey-600">play_circle_outline</i></button>
        <div class="sofatube-explore-button mdl-typography--text-center">
            <a class="mdl-typography--text-uppercase mdl-color-text--grey-300" ng-click="gotoExplore('student-project')">explore students projects</a>
        </div>
         <!--<video autoplay  poster="video/poster.jpg" id="videobg" loop>-->
             <!--<source src="video/video.webm" type="video/webm">-->
             <!--<source src="video/video.mp4" type="video/mp4">-->
             <!--Your browser does not support the video tag. I suggest you upgrade your browser.-->
         <!--</video>-->
    </div>