<div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col">
     > account
</div>
<div class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <section class="mdl-grid mdl-grid--no-spacing">
        <div class="section__person-btn mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-cell--bottom">
            <img src="../images/user.jpg" class="profile-avatar">
        </div>
        <div class="mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-profile-text mdl-cell--bottom">
            <h5>Alexander Montoya-Melendrez</h5>
            <h6>hello@example.com<br>Program</h6>
        </div>
    </section>

    <h5 class="mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone profile-text">contact information</h5>
    <section class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-card mdl-cell mdl-cell--12-col profile-contact">
            <ul class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <li class="section__text mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-cell mdl-cell--stretch">Phone</div>
                </li>
                <li class="section__text mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                   <div class="mdl-cell mdl-cell--stretch">Alternate Name</div>
                </li>
                <li class="section__text mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                   <div class="mdl-cell mdl-cell--stretch">Alternate Email</div>
                </li>
                <li class="section__text mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-cell mdl-cell--stretch">Alternate Phone</div>
                </li>
            </ul>
        </div>
    </section>

    <h5 class="mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone profile-text">my activities</h5>
    <section class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-card mdl-cell mdl-cell--12-col profile-activity">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                    <!-- Tabs -->
                    <div class="mdl-tabs__tab-bar">
                        <a href="#likes-tab" class="mdl-tabs__tab is-active mdl-cell mdl-cell--7-col mdl-cell--7-col-desktop mdl-cell--5-col-tablet mdl-cell--3-col-phone">Likes</a>
                        <a href="#comments-tab" class="mdl-tabs__tab mdl-cell mdl-cell--7-col mdl-cell--7-col-desktop mdl-cell--5-col-tablet mdl-cell--3-col-phone">Comments</a>
                    </div>

                    <div class="mdl-tabs__panel is-active" id="likes-tab">
                        <ul class="mdl-list mdl-grid mdl-grid--no-spacing">
                            <li class="mdl-list__item mdl-list__item--three-line mdl-cell mdl-cell--12-col">
                                <div class="comment-detail mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <div class="mdl-list mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone video-cover-block mdl-cell--top mdl-cell--hide-phone">
                                            <img src="../images/videoCover.png" class="video-cover">
                                        </div>
                                        <div class="mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--top">
                                            <div class="mdl-grid mdl-grid--no-spacing">
                                                <p class="video-cover-text mdl-cell mdl-cell--12-col mdl-color-text--grey-600">You liked @Person's video: Video Title</p>
                                                <br><p class="mdl-color-text--grey-500">5/14/2014</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mdl-list__item mdl-list__item--three-line mdl-cell mdl-cell--12-col">
                                <div class="comment-detail mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <div class="mdl-list mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone video-cover-block mdl-cell--top mdl-cell--hide-phone">
                                            <img src="../images/videoCover.png" class="video-cover">
                                        </div>
                                        <div class="mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--top">
                                            <div class="mdl-grid mdl-grid--no-spacing">
                                                <p class="video-cover-text mdl-cell mdl-cell--12-col mdl-color-text--grey-600">You liked @Person's video: Video Title</p>
                                                <br><p class="mdl-color-text--grey-500">5/14/2014</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="mdl-tabs__panel" id="comments-tab">
                        <ul class="mdl-list mdl-grid mdl-grid--no-spacing">
                            <li class="mdl-list__item mdl-list__item--three-line mdl-cell mdl-cell--12-col">
                                <div class="comment-detail mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <div class="mdl-list mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone video-cover-block mdl-cell--top  mdl-cell--hide-phone">
                                            <img src="../images/videoCover.png" class="video-cover">
                                        </div>
                                        <div class="mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--top">
                                            <div class="mdl-grid mdl-grid--no-spacing">
                                                <p class="video-cover-text mdl-cell mdl-cell--12-col mdl-color-text--grey-600">You commented @Person's video: Video Title : In in culpa nulla elit esse. Ex cillum enim aliquip sit sit ullamco ex Ex cillum enim aliquip sit sit ullamco ex Ex cillum enim aliquip sit sit ullamco exEx cillum enim aliquip sit sit ullamco ex 23rtre</p>
                                                <br><p class="mdl-color-text--grey-500">5/14/2014</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mdl-list__item mdl-list__item--three-line mdl-cell mdl-cell--12-col">
                                <div class="comment-detail mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <div class="mdl-list mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone video-cover-block mdl-cell--top mdl-cell--hide-phone">
                                            <img src="../images/videoCover.png" class="video-cover">
                                        </div>
                                        <div class="mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--top">
                                            <div class="mdl-grid mdl-grid--no-spacing">
                                                <p class="video-cover-text mdl-cell mdl-cell--12-col mdl-color-text--grey-600">You liked @Person's video: Video Title</p>
                                                <br><p class="mdl-color-text--grey-500">5/14/2014</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
    </section>
</div>
