<div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col">
    > my screenings > SOFA Screenings Reel (2013 - 2014)
</div>
<div class="mdl-demo mdl-color-text--grey-700 mdl-base">
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="demo-cards">
                <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__supporting-text receipt">
                        <form action="#" class="">
                            <div class="mdl-card__title ">
                                <h2 class="mdl-card__title-text">SOFA Screenings Reel (2013 - 2014)</h2>
                            </div>
                            <div class="demo-separator mdl-cell--1-col"></div>
                            <div>
                                <h5>Contact Information</h5>
                                <ul class="mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone ">
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Name</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">Alexander Montoya-Melendrez</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Email</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">hello@example.com</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Program</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">2D animation</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Year</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">BFA 4th year</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Phone</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">000-000-0000</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Alternate Name</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value"></div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Alternate Email</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">hello@asdasa.com</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Alternate Phone</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">111-111-1111</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="demo-separator mdl-cell--1-col"></div>
                            <div>
                                <h5>Copyright Material</h5>
                                <p>Has acknowledged the policies set forth by the RIT School of Film and Animation regarding Copyright Material.</p>
                            </div>
                            <div class="demo-separator mdl-cell--1-col"></div>
                            <div>
                                <h5>Project Information</h5>
                                <ul class="mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone receipt">
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Title</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">SOFA Screening Reel (2013 - 2014)</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Log Line</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">A one sentence description of the film.</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Description</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida venenatis accumsan. In mi massa, tempus</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Genre</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">3D Animation</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Duration</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">5:19</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Tags</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">tag1, tag2, tag3</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Permission Level</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">World Viewable</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Explicit</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">Yes</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Suggestive Material</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida venenatis accumsan.</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Approximate MPAA Rating</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">PG-13</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">TV Rating</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">MA</div>
                                    </li>
                                    <h6>Credits</h6>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">matte painter / background artist</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">Alexander Montoya-Melendrez</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">matte painter / background artist</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">Alexander Montoya-Melendrez</div>
                                    </li>
                                    <h6>Academic Information</h6>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Class Reel</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">Yes</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Collaboration</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">Yes</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Collaborators</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">Person1</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Course</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">Animation Writing and Visual Storytelling</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Instructor</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">Mark Anthony Foggetii</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Medium</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">Craft-Tracker</div>
                                    </li>
                                    <li class="mdl-grid mdl-grid--no-spacing">
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone receipt-attr">Special Screening Instructions</div>
                                        <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone receipt-value">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida venenatis accumsan. In mi massa, tempus</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="demo-separator mdl-cell--1-col"></div>
                            <a class="mdl-button mdl-typography--text-uppercase mdl-button--primary">Print</a>
                            <div class="demo-separator mdl-cell--1-col"></div>


                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>