<div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col">
    > my video > SOFA Screening Reel (2013 - 2014)
</div>

<div class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="demo-cards">
                <div class="demo-updates mdl-card mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone single-video single-video-smaller">
                    <div class="mdl-card__media ">
                        <iframe width="800" height="600" src="https://www.youtube.com/embed/taA84kAuyPw" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="mdl-card__title mdl-color-text--grey-600">
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone mdl-cell--top avatar-block">
                            <img src="../images/user.jpg" class="demo-avatar">
                        </div>
                        <div class="mdl-cell mdl-cell--11-col mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone mdl-cell--top">
                            <div class="mdl-grid mdl-grid--no-spacing">
                                <div class="mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop mdl-cell--5-col-tablet mdl-cell--4-col-phone mdl-cell--top">
                                    <h5>SOFA Screenings Reel (2013 - 2014)</h5>
                                    <div class="mdl-grid mdl-grid--no-spacing mdl-card__subtitle-text">
                                        <span>Alexander Montoya-Melendrez</span>
                                        <span style="width: 16px"></span><span>5/14/2014</span>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--4-col-phone more-button-block">
                                    <a class="icons mdl-button mdl-button--icon md-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-desktop mdl-cell--1-col-phone"><i class="mdl-color-text--blue-grey-400 material-icons" role="checkbox">favorite</i></a>
                                    <a class="icons mdl-button mdl-button--icon md-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-desktop mdl-cell--1-col-phone"><i class="mdl-color-text--blue-grey-400 material-icons" role="button">share</i></a>
                                    <button id="demo-menu-lower-right"
                                            class="mdl-button mdl-js-button mdl-button--icon md-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-desktop mdl-cell--1-col-phone">
                                        <i class="material-icons mdl-color-text--blue-grey-400">more_vert</i>
                                    </button>
                                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                        for="demo-menu-lower-right">
                                        <li class="mdl-menu__item">View screening receipt</li>
                                        <li class="mdl-menu__item" ui-sref="main.changePermission">Change permission level</li>
                                        <li class="mdl-menu__item" ui-sref="main.changeThumbnail">Change thumbnail</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-separator mdl-cell mdl-cell--12-col"></div>

                    <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col">
                        <h6>A one sentence description of the film. </h6>
                        <div class="mdl-grid mdl-grid--no-spacing">
                            <span class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone standard-block">Description</span>
                            <span class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida venenatis accumsan. In mi massa, tempus</span>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-grid mdl-grid--no-spacing">
                            <span class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone standard-block">Permission Level</span>
                            <span class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">World Viewable</span>
                        </div>
                        <div class="mdl-grid mdl-grid--no-spacing">
                            <span class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone standard-block">Genre</span>
                            <span class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">3D animation</span>
                        </div>
                        <div class="mdl-grid mdl-grid--no-spacing">
                            <span class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone standard-block">Duration</span>
                            <span class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">5:19</span>
                        </div>
                        <div class="mdl-grid mdl-grid--no-spacing">
                            <span class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone standard-block">MAPP Rating</span>
                            <span class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">PG-13</span>
                        </div>
                        <div class="mdl-grid mdl-grid--no-spacing">
                            <span class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone standard-block">TV Rating</span>
                            <span class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">MA</span>
                        </div>
                        <div class="mdl-grid mdl-grid--no-spacing">
                            <span class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone standard-block">Explicit content</span>
                            <span class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida venenatis accumsan.</span>
                        </div>
                        <div class="mdl-grid mdl-grid--no-spacing">
                            <span class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone standard-block">Tags</span>
                            <span class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                    <ul class="mdl-grid mdl-grid--no-spacing">
                                        <li class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">tag1</li>
                                        <li class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">tag2</li>
                                        <li class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">tag3</li>
                                    </ul>
                                </span>
                        </div>
                        <div class="credit">
                            <div class="mdl-grid mdl-grid--no-spacing">
                                <h6 class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone standard-block">Credits</h6>
                                <span>
                                        <button id="addCredit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored add-credit">
                                            <i class="material-icons" role="presentation">add</i><span> &nbsp; add more</span>
                                        </button>
                                        <div class="mdl-tooltip mdl-tooltip--large" for="addCredit">
                                            <strong>Add more credit</strong>
                                        </div>
                                    </span>
                            </div>
                            <ul class="mdl-cell mdl-cell--12-col">
                                <li class="mdl-grid mdl-grid--no-spacing">
                                    <span class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone standard-block">matte painter / background artist</span>
                                    <span class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">Alexander Montoya-Melendrez</span>
                                </li>
                                <li class="mdl-grid mdl-grid--no-spacing">
                                    <span class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone standard-block">matte painter / background artist</span>
                                    <span class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">Alexander Montoya-Melendrez</span>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h6>Academic Information</h6>
                            <div class="mdl-grid mdl-grid--no-spacing">
                                <span class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone standard-block">Class reel</span>
                                <span class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">Yes</span>
                            </div>
                            <div class="mdl-grid mdl-grid--no-spacing">
                                <span class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone standard-block">Collaborators</span>
                                <span class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                                        <ul class="mdl-grid mdl-grid--no-spacing">
                                            <li class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">person1</li>
                                        </ul>
                                    </span>
                            </div>
                            <div class="mdl-grid mdl-grid--no-spacing">
                                <span class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone standard-block">Course</span>
                                <span class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">Animation Writing and Visual Storytelling</span>
                            </div>
                            <div class="mdl-grid mdl-grid--no-spacing">
                                <span class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone standard-block">Instructor</span>
                                <span class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">Mark Anthony Foggetii</span>
                            </div>
                            <div class="mdl-grid mdl-grid--no-spacing">
                                <span class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone standard-block">Medium</span>
                                <span class="mdl-cell mdl-cell--10-col mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">Craft-Tracker</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="demo-cards">
                <div class="demo-updates mdl-card mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone single-video">
                    <div class="mdl-card__title mdl-color-text--grey-600">
                        <div class="mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                            <h5 class="mdl-cell mdl-cell--2-col mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone">Comments</h5>
                            <div class="switch-comment">
                                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="control-comment">
                                    <input type="checkbox" id="control-comment" class="mdl-switch__input" checked>
                                    <span class="mdl-switch__label">Enable Comment</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li class="comment">
                            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                <ul>
                                    <li>
                                        <div>
                                            <div class="mdl-card__supporting-text comment-block mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone" id="comment1">
                                                <div class="mdl-grid mdl-grid--no-spacing">
                                                    <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--1-col-phone standard-block">
                                                        <img src="../images/user.jpg" class="demo-avatar">
                                                    </div>
                                                    <div class="mdl-card__subtitle-text mdl-cell mdl-cell--11-col mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone comment-info">
                                                        <div>
                                                            RIT FVASA<br>
                                                            2 days ago
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mdl-card__subtitle-text">
                                                    In in culpa nulla elit esse. Ex cillum enim aliquip sit sit ullamco ex eiusmod fugiat. Cupidatat ad minim officia mollit laborum magna dolor tempor
                                                    cupidatat mollit. Est velit sit ad aliqua ullamco laborum excepteur dolore proident incididunt in labore elit.
                                                </div>
                                            </div>
                                            <div class="mdl-card__actions comment-buttons">
                                                <nav class="mdl-navigation mdl-grid mdl-grid--no-spacing">
                                                    <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-desktop mdl-cell--5-col-tablet mdl-cell--4-col-phone mdl-cell--top">
                                                    </div>
                                                    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--3-col-tablet mdl-cell--4-col-phone more-button-block">
                                                        <a class="icons mdl-button mdl-button--icon mdl-cell mdl-cell--1-col mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--1-col-phone"><i class="mdl-color-text--blue-grey-400 material-icons" role="button">report</i></a>
                                                        <a class="icons mdl-button mdl-button--icon mdl-cell mdl-cell--1-col mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--1-col-phone"><i class="mdl-color-text--blue-grey-400 material-icons" role="button">favorite</i></a>
                                                        <a class="icons mdl-button mdl-button--icon mdl-cell mdl-cell--1-col mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--1-col-phone"><i class="mdl-color-text--blue-grey-400 material-icons" role="button" ng-click="replyComment = !replyComment">reply</i></a>
                                                    </div>
                                                </nav>
                                            </div>
                                        </div>
                                        <div ng-show="replyComment">
                                            <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col">
                                                <form action="#">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                                        <textarea class="mdl-textfield__input" type="text" rows= "3" id="leave-reply" ></textarea>
                                                        <label class="mdl-textfield__label" for="leave-reply">Leave reply to RIT FVASA :</label>
                                                    </div>
                                                </form>
                                                <div class="mdl-card__actions mdl-grid mdl-grid--no-spacing">
                                                    <div class="mdl-cell--9-offset	mdl-cell--9-offset-desktop mdl-cell--5-offset-tablet mdl-cell--1-offset-phone">
                                                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect cancel">
                                                            Cancel
                                                        </button>
                                                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored submit">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone reply">
                                                <div class="mdl-grid mdl-grid--no-spacing">
                                                    <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--1-col-phone standard-block">
                                                        <img src="../images/user.jpg" class="demo-avatar">
                                                    </div>
                                                    <div class="mdl-card__subtitle-text mdl-cell mdl-cell--11-col mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone comment-info">
                                                        <div>
                                                            RIT FVASA<br>
                                                            2 days ago
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mdl-card__subtitle-text">
                                                    In in culpa nulla elit esse. Ex cillum enim aliquip sit sit ullamco ex eiusmod fugiat. Cupidatat ad minim officia mollit laborum magna dolor tempor
                                                    cupidatat mollit. Est velit sit ad aliqua ullamco laborum excepteur dolore proident incididunt in labore elit.
                                                </div>
                                            </div>
                                            <div class="mdl-card__actions comment-buttons">
                                                <nav class="mdl-navigation mdl-grid mdl-grid--no-spacing">
                                                    <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-desktop mdl-cell--5-col-tablet mdl-cell--4-col-phone mdl-cell--top">
                                                    </div>
                                                    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--3-col-tablet mdl-cell--4-col-phone more-button-block">
                                                        <a class="icons mdl-button mdl-button--icon mdl-cell mdl-cell--1-col mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--1-col-phone"><i class="mdl-color-text--blue-grey-400 material-icons" role="button">report</i></a>
                                                        <a class="icons mdl-button mdl-button--icon mdl-cell mdl-cell--1-col mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--1-col-phone"><i class="mdl-color-text--blue-grey-400 material-icons" role="button">favorite</i></a>
                                                        <a class="icons mdl-button mdl-button--icon mdl-cell mdl-cell--1-col mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--1-col-phone"><i class="mdl-color-text--blue-grey-400 material-icons" role="button">reply</i></a>
                                                    </div>
                                                </nav>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="comment">
                            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                <ul>
                                    <li>
                                        <div>
                                            <div class="mdl-card__supporting-text comment-block mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                                <div class="mdl-grid mdl-grid--no-spacing">
                                                    <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--1-col-phone avatar-block">
                                                        <img src="../images/user.jpg" class="demo-avatar">
                                                    </div>
                                                    <div class="mdl-card__subtitle-text mdl-cell mdl-cell--11-col mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone comment-info">
                                                        <div>
                                                            RIT FVASA<br>
                                                            2 days ago
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mdl-card__subtitle-text">
                                                    In in culpa nulla elit esse. Ex cillum enim aliquip sit sit ullamco ex eiusmod fugiat. Cupidatat ad minim officia mollit laborum magna dolor tempor
                                                    cupidatat mollit. Est velit sit ad aliqua ullamco laborum excepteur dolore proident incididunt in labore elit.
                                                </div>
                                            </div>
                                            <div class="mdl-card__actions comment-buttons">
                                                <nav class="mdl-navigation mdl-grid mdl-grid--no-spacing">
                                                    <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-desktop mdl-cell--5-col-tablet mdl-cell--4-col-phone mdl-cell--top">
                                                    </div>
                                                    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--3-col-tablet mdl-cell--4-col-phone more-button-block">
                                                        <a class="icons mdl-button mdl-button--icon mdl-cell mdl-cell--1-col mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--1-col-phone"><i class="mdl-color-text--blue-grey-400 material-icons" role="button">report</i></a>
                                                        <a class="icons mdl-button mdl-button--icon mdl-cell mdl-cell--1-col mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--1-col-phone"><i class="mdl-color-text--blue-grey-400 material-icons" role="button">favorite</i></a>
                                                        <a class="icons mdl-button mdl-button--icon mdl-cell mdl-cell--1-col mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--1-col-phone"><i class="mdl-color-text--blue-grey-400 material-icons" role="button">reply</i></a>
                                                    </div>
                                                </nav>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div>
                        <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col">
                            <form action="#">
                                <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <textarea class="mdl-textfield__input" type="text" rows= "3" id="leave-comments" ></textarea>
                                    <label class="mdl-textfield__label" for="leave-comments">Leave Comments</label>
                                </div>
                            </form>
                            <div class="mdl-card__actions mdl-grid mdl-grid--no-spacing">
                                <div class="mdl-cell--9-offset	mdl-cell--9-offset-desktop mdl-cell--5-offset-tablet mdl-cell--1-offset-phone">
                                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect cancel">
                                        Cancel
                                    </button>
                                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored submit">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone related-videos">
            <div class="demo-cards">
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                    <h6>Related videos</h6>
                    <ul>
                        <li class="mdl-grid mdl-grid--no-spacing">
                            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                <div class="mdl-list mdl-grid mdl-grid--no-spacing">
                                    <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                                        <img src="../images/tamarawThumbnail.png" class="single-video-cover">
                                    </div>
                                    <div class="mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone single-video-text">
                                        <h6>Tamaraw</h6>
                                        <div class="mdl-card__subtitle-text">Miguel Mirasol <span>5/14/2016</span></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="mdl-list mdl-grid mdl-grid--no-spacing">
                                <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                                    <img src="../images/videoCover.png" class="single-video-cover">
                                </div>
                                <div class="mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone single-video-text">
                                    <h6>SOFA Screenings Reel (2012 - 2013)</h6>
                                    <div class="mdl-card__subtitle-text">RIT FVASA <span>5/14/2014</span></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
